.App {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.appname {
  color: rgb(27, 94, 72);
    gap: 10px;
}

.studentInfo {
  width: 950px;;
  display: flex;
  background-color: rgb(27, 94, 72);
  justify-content: center;
  color: white;
  gap: 20px;
}

.title {
  background-color: antiquewhite;
  color: rgb(27, 94, 72);

}